.form {
    display: flex;
    background-color: lightslategrey;
    justify-content: space-around;
    border-radius: 8px;
    padding: 0.6em;
    gap: 15px;
}

.form__input{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-family: inherit;
}

.form__button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }